/* A mad invention of mine is the seperations line. All devs must use this  */
.seperationline
{
    
    margin-bottom: 2em;
    letter-spacing: 10px;
    font-weight: 900;
    

}

.Desktopshowcaseimg
{
    display: none;
}
/* A mad invention of mine is the seperations line. All devs must use this  */

.headBar 
{
    background-color: whitesmoke
}

.headBar h2
{
   margin: 10px 0;
   display: inline-block;
   font-size: 30px

}

.headBar h2 span
{
    border-bottom: 2px solid rgba(128, 0, 128, 0.37); /*For styling the speaks in solar */
}



.headBar .headbarIcon
{
    /* Floating the icon of the menu  */
    float: right;
    margin: 11px 0px;
    
}

/* Styling the box that gives a welcome in for All users */
.userName 
{
    text-align: center;
    background-color: whitesmoke;
    
}

.userName p
{
    width: 95%;
    margin: 0 auto;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.3em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.74);
    margin: 10px
}

.userName input
{
    border: 1px solid rgba(219, 74, 219, 0.582);
    padding: 5px;
    border-radius: 30px;
    margin: 10px
}

.userName button
{
    border-radius: 10px;
    background: transparent;
    border: 1px solid black;
    margin: 10px;
    padding: 7px;

}

.userName h2
{
    color: black;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter
}

/* Styling the box of the menu items */
.menuitems
{
    display: none;
    text-align: center;
    padding: 10px 0;
    line-height: 20px;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    margin-top: 20px
}

/* END Styling the box of the menu items */

/* Styling the items inside my funny drop down */
.menuitems li
{
    border-left: 1px solid rgba(128, 0, 128, 0.432);
    color: rgb(0, 0, 0);
    padding: 7px;
    width: 70%;
   display: inline-block;
    margin: 10px
}

.menuitems a
{
    color: rgba(0, 0, 0, 0.247);
    padding: 0px 50px;
   
}


.menuitems a:hover
{
   color: black
    
}
.menuitems p
{
    line-height: 1.4em;
    font-size: 0.7em
}
/* END Styling the items inside my funny drop down */


.article
{
    text-align: center
}

/* Styling my welcome box with a picture and image */
.welcome
{
    height: 70vh;
    padding: 5px;
    background-image: linear-gradient(whitesmoke 30%, rgba(140, 42, 231, 0.233) 70% );
    background-image: url("../images/speakingsuit.jpg");
    background-size: cover;
    margin-bottom: 2em;
    
    

}

.welcometext
{
    /* margin-top: 50%; */
    
    font-size: 40px;
    overflow: hidden;
    font-weight: bolder;
   color: rgb(255, 255, 255);
  

}
.welcometext:hover


/* END  Styling my welcome box with a picture and image */

/* Styling the intro box */

/*  END Styling the intro box */
/* Please whoever is reding this code, james or whoever , do note that 
at a point i got lazy and grouped classes into a perticular style block
so dont be awed when you see something like .views p, .shop p */
.views,
.vbox,
.solarBox
{
    padding: 10px;
    background-image: linear-gradient(whitesmoke 30%, rgba(140, 42, 231, 0.233) 70% );
    background-image: url("../images/sittinginexpresslooking\ side.jpg");
    background-position: top;
    background-size: cover;
    color: white;
   line-height: 1.7em;
   height: 60vh;
   margin: 1.7em 0
  
}

.views h2,
.shop h2,
.solarBox h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid rgba(128, 0, 128, 0.308)
}

.views p,
.shop p,
.solarBox p
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
    margin: 0 auto;
    text-align: left
}

.views button,
.shop button,
.solarBox button
{
    border-radius:  35px;
    margin-top: 30px;
    background-color: transparent;
    padding: 10px
    
}

.views a,
.shop a,
.solarBox a
{
    color:rgb(255, 255, 255);
    padding: 10px
}

.shop
{
    padding: 10px;
    background-image: linear-gradient(whitesmoke 30%, rgba(140, 42, 231, 0.233) 70% );
    background-image: url("../images/casualsolar.jpg");
    background-position: top;
    background-size: cover;
    color: white;
   line-height: 1.7em;
   height: 60vh;
   margin-top: 1.4em
}
/* The styles for the blog cards */
.blogblocks
{
    margin: 5em 0;
    text-align: center;
   
}

.blogs img
{
    width: 100px;
    border: 1px solid;
    border-radius: 90px;
    margin-bottom: -60px;
    position: relative;
   

}
.blogs
{
    
    width: 80%;
    margin: 40px auto
}

.blogshow
{
    border: 2px solid rgba(107, 0, 207, 0.37);
    padding: 5px;
    padding-top: 40px;
    border-radius: 0 20px;
    display: inline-block;
    box-shadow: 4px 4px 4px 4px rgba(107, 0, 207, 0.37);

}

.blogshow:hover
{
    box-shadow: 1px 1px 1px 1px rgba(107, 0, 207, 0.945);
    transition: 2s
}

.blogs button
{
    background: transparent;
    border: 1px solid ;
    padding: 4px;
    border-radius: 20px;
    margin: 26px;

}

.blogs a 
{
    padding: 10px;
    color: black

}

/* END The styles for the blog cards */
.viewblog
{
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-left: 1px solid rgba(128, 0, 128, 0.212);
    padding-left: 5px
}

.viewblog button
{
    background: transparent;
    border-radius: 15px;
    
}
.viewblog a
{
    color: rgb(0, 0, 0);
    padding: 19px;
    font-weight: bolder
}

/* testimonies */

.testimonies
{
    margin-top: 5em;
    width: 90%;
    margin: 5em auto 0px auto
}

.realtestimonies
{
    background-color: aquamarine;
    height: 55vh;
    background-image: url("../images/Mr.\ Shane.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 6em;
    margin-bottom: 2.3em;
    box-shadow: 0px 7px 4px rgb(59, 58, 61);
}

.realtestimonies:hover
{
    box-shadow:none;
    transition: 2s
}








/* Media Query */
@media(min-width: 780px)
{
  .headBar i
   {
     display: none
   }

   .menuitems
   {
       display: inherit
   }

   .menuitems 
{
    float:left;
   height: 100vh;
    display: block;
    width: 30%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(white 10%, rgba(170, 123, 202, 0.589)90%)
  
    
}

.menuitems li
{
   
    color: rgb(0, 0, 0);

   
    
 
  
}

.menuitems li:hover
{
    color: rgba(0, 0, 0, 0.075)
}

.menuitembox
{
    margin-top: 2.5em
}

.menuitems a
{
    color: rgb(0, 0, 0);
    padding: 0
    
   
}
.secondphase
{
    width: 70%;
    float: right;
}

.headBar h2
{
    text-align: center;
    display: block
}

.headBar,
.userName
{
    background-color:transparent
}



.Desktopshowcaseimg
{
    display: inherit;
    width: 35%;
    float: left;
    vertical-align: text-top;
    margin-top: -10%;
    border-radius: 52px
}

.solarBox h2,
.solarBox p,
.solarBox button,
.shop h2,
.shop p,
.shop button
{
    width: 60%;
    float: right;
   
}

.shop button,
.solarBox button

{
  width: 40%;
}
.vbox h2,
.vbox p,
.vbox button
{
    width: 60%;
    float: left;
    margin: 1.2em 0
}
.vbox
{
    margin: 1.6em 0
}
.vbox h2
{
    margin-right: 40px
}

.vbox button
{
    width: 40%;
  /* margin-top: -1%; */
}
.solarBox,
.vbox,
.shop
{
    background-image: none;
    color: black;
    margin: 1em 0;
}

.views a,
.shop a,
.solarBox a
{
    color:rgb(0, 0, 0);
  
}
.shop
{
    margin-top: 100px;
    margin-bottom: 0px
}

.blogs
{
    width: 43%;
    float: left;
    margin: 2em 1em
}


}

.headBar h2
{
  letter-spacing: 0.1em;
   margin-left: 1.4em;
  
}

/* Clearfix Dont go behind */
.clearfix::before
{
    display: block;
    visibility: hidden;
    content: "";
    clear: both
}

.clearfixLeft::after
{
    display: block;
    visibility: hidden;
    content: "";
    clear: both
}


